html, body {
	width: 100%;
	height: auto;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f0f0f0;
}

h1, h2, h3 {
	margin:0px;
}


@font-face {
	font-family: "iconfont";
  /*src: url('fangzheng simple.ttf') format('truetype');*/
  src: url('PingFang Bold.ttf') format('truetype');
  /*src: url('katong.TTF') format('truetype');*/
}

@font-face {
	font-family: "iconfont1";
  src: url('fangzheng simple.ttf') format('truetype');
  /*src: url('PingFang Bold.ttf') format('truetype');*/
  /*src: url('katong.TTF') format('truetype');*/
}

@font-face {
	font-family: "iconfont2";
  /*src: url('fangzheng simple.ttf') format('truetype');*/
  /*src: url('PingFang Bold.ttf') format('truetype');*/
  src: url('katong.TTF') format('truetype');
}

.share-container {
	position: relative;
	height: auto;
	background: url(../imgs/headerbeijin-min.png) no-repeat 0px -135px;
	background-size: 100% auto;
	background-color: #fcfcfc;
}

@media (min-width: 1080px) {
	.share-container {
		width: 1080px;
		margin: 0px auto;
	}
}
@media (max-width: 1080px) {
	.share-container {
		width: 100%;
	}
}

/** share-header **/
.share-header {

}
.share-header > h1,.share-header > h2,.share-header > h3 {
	text-align: center;
	color: #fff;
	font-family: 'iconfont' !important;
}
.share-header > ul {
	padding: 0px;
	text-align: center;
}
.share-header > ul > a:hover {
	cursor: pointer;
}
@media (min-width: 1080px) {
	.share-header {
		padding: 9rem 3.5rem 3.5rem;
	}
	.share-header > h1 {
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}
	.share-header > h3 {
		font-size: 1.9rem;
		padding: 0.5rem;
	}
	.share-header > h2 {
		font-size: 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.share-header > h2 > img {
		width: 300px;
	}
	.share-header > ul > li a{
		padding: 15px;
	}
	.share-header > ul > li img{
		width: 43px;
		padding: 15px 25px;
	}
}

@media (max-width: 1080px) and (min-width: 640px) {
	.share-header {
		padding: 8rem 3.2rem 3.2rem;
	}
	.share-header > h1 {
		font-size: 3rem;
		margin-bottom: 1.7rem;
	}
	.share-header > h3 {
		font-size: 1.6rem;
		padding: 0.3rem;
	}
	.share-header > h2 {
		font-size: 2.1rem;
		margin-top: 1.7rem;
		margin-bottom: 1.7rem;
	}
	.share-header > h2 > img {
		width: 265px;
	}
	.share-header > ul > li img{
		width: 38px;
		padding: 0px 25px;
	}
}

@media (max-width: 640px) {
	.share-header {
		padding: 5rem 1rem 2rem;
	}
	.share-header > h1 {
		font-size: 2.2rem;
		margin-bottom: 1.3rem;
	}
	.share-header > h3 {
		font-size: 1.25rem;
		padding: 0.3rem;
	}
	.share-header > h2 {
		font-size: 1.85rem;
		margin-top: 1.3rem;
		margin-bottom: 1.3rem;
	}
	.share-header > h2 > img {
		width: 180px;
	}
	.share-header > ul > li img{
		width: 33px;
		padding: 0px 0.5rem;
	}
}

/**share-article**/

.share-div-1 > h1 , .share-div-1 > h2, .share-div-2 > h1{
	text-align: center;
}
.green {
	color: #21dbcc;
}
.red {
	color: #f74711;
}
.share-pen {
	position: absolute;
	left: 0px;
	margin-top: -20px;
}
.share-coffee {
	position: absolute;
}
p {
	margin: 6px;
	line-height: 30px;
	font-family: 'iconfont1' !important;
}

.share-div-1 > h1, .share-div-1 > h2 {
	color: #565656;		
}
.share-div-2 > h1 {
	font-family: '微软雅黑';
}
.share-div-1 > h2 {
	font-family: 'iconfont2' !important;
}


@media (min-width: 1080px) {
	.share-article {
		padding: 2.5rem 15rem;
	}
	.share-pen > img {
		width: 150px;
	}
	.share-coffee {
		right: 30px;
		margin-top: -150px;
	}
	.share-coffee > img {
		width: 300px;
	}
	.share-div-1 > h1 {
		font-size: 3.8rem;
		margin-bottom: 2rem;
	}
	.share-div-1 > h2 {
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	.share-div-1 > p ,.share-div-2 > p{
		font-size: 1.5rem;
		text-indent: 38px;
	}

	.share-div-2 > h1 {
		font-size: 3rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		color: #565656;
	}

	.share-div-3 > h3 ,.share-div-3 > h1{
		text-indent: 38px;
	}
	.share-div-3 > h3 {
		font-size: 1.5rem;
		margin-top: 3.5rem;
		margin-bottom: 1.3rem;
	}
	.share-div-3 > h1 {
		font-size: 2rem;
		margin-bottom: 2.5rem;
	}
}

@media (max-width: 1080px) {
	.share-article {
		padding: 3.5rem 11rem;
	}
	.share-pen > img {
		width: 130px;
	} 
	.share-coffee {
		right: 5px;
		margin-top: -180px;
	}
	.share-coffee > img {
		width: 210px;
	}
	.share-div-1 > h1 {
		font-size: 3.6rem;
		margin-bottom: 2rem;
	}
	.share-div-1 > h2 {
		font-size: 2.75rem;
		margin-bottom: 2.5rem;
	}
	.share-div-1 > p ,.share-div-2 > p{
		font-size: 1.5rem;
		text-indent: 38px;
	}

	.share-div-2 > h1 {
		font-size: 2.75rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		color: #565656;
	}

	.share-div-3 > h3 ,.share-div-3 > h1{
		text-indent: 38px;
	}
	.share-div-3 > h3 {
		font-size: 1.5rem;
		margin-top: 3.2rem;
		margin-bottom: 1.2rem;
	}
	.share-div-3 > h1 {
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
	}
}

@media (max-width: 640px) {
	.share-article {
		padding: 1.6rem 15px;
	}
	.share-pen > img {
		width: 40px;
	} 
	.share-coffee {
		right: 5px;
		margin-top: -130px;
	}
	.share-coffee > img {
		width: 90px;
	}
	.share-div-1 > h1 {
		font-size: 2.8rem;
		margin-bottom: 1.5rem;
	}
	.share-div-1 > h2 {
		font-size: 2rem;
		margin-bottom: 1.8rem;
	}
	.share-div-1 > p ,.share-div-2 > p{
		font-size: 1.25rem;
		text-indent: 38px;
	}

	.share-div-2 > h1 {
		font-size: 2rem;
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;
		color: #565656;
	}

	.share-div-3 > h3 ,.share-div-3 > h1{
		text-indent: 38px;
	}
	.share-div-3 > h3 {
		font-size: 1.25rem;
		margin-top: 3.2rem;
		margin-bottom: 1.2rem;
	}
	.share-div-3 > h1 {
		font-size: 1.3rem;
		margin-bottom: 2.5rem;
	}
}

.share-div-3 a {
	color: blue;
}

.red-share {
	color: #f00c47;
}


@font-face {
	font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qzone:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-weibo:before { content: "\e602"; }
.icon-wechat:before { content: "\e603"; }
.icon-douban:before { content: "\e604"; }

.sns-share-component a {
  position:relative;
  text-decoration:none;
}

.sns-share-component .icon{
    font-size: 22px;
    background: #555;
    border-radius: 50%;
    margin: 10px 0;
    padding: 8px;
    color:#fff;
    -webkit-transition: background 0.2s ease-out 0s;
    -moz-transition: background 0.2s ease-out 0s;
    transition: background 0.2s ease-out 0s;

}

.sns-share-component .icon:hover{
  font-size: 22px;
  background: #666;
}

.sns-share-component a .wechat-qrcode {
  position:absolute;
  bottom: 40px;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;
  -webkit-transition: all .8s ease;
  padding: 10px;
  border:1px solid #888;
  z-index: 9999;
  background: #fff;
  font-size: 12px;
  text-align:center;
}

.sns-share-component a .wechat-qrcode canvas {
  display: block;
  margin:5px;
}

.sns-share-component a.wechat:hover .wechat-qrcode{
  visibility: visible;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  transform: translate(0, 0px);
  opacity: 1;
  color: #666666;
}
